html{
    background-image: url("image/fondapsa.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
}
body {
    width: 75%;
    /* Pour fixer la largeur de la page */
    height: 100%;
    margin:  auto;
    /* Pour centrer la page */
    background-color: #E6E6FA;
    font-family: "HelveticaNeue", "Helvetica Neue", Lato, sans-serif;
    box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.7); 

}

.container
{
    width: 100%;
    background-color:#E6E6FA;
    overflow: hidden;
    margin: auto;
    height: auto;
}  
.row {
    overflow: hidden;
} 
h1, h2, h3, h4, H5, H6 {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
}
            
p {
 padding: 0;
 margin-bottom: 12px;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
 line-height: 24px;
 color: #384452;
 margin-top: 10px;
}
            
img {
 height: auto;
 max-width: 100%;
}
            
a {
 padding: 0;
 margin: 0;
 text-decoration: none;
 -webkit-transition: background-color .4s linear, color .4s linear;
 -moz-transition: background-color .4s linear, color .4s linear;
 -o-transition: background-color .4s linear, color .4s linear;
 -ms-transition: background-color .4s linear, color .4s linear;
 transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
 text-decoration: none;
 color: rgba(195, 197, 198, 0.87);
}

            

            
#f {
 background: white;
 padding-top: 70px;
 padding-bottom: 70px;
 text-align: center;
}
            
#f h3 {
 color: white;
 font-size: 28px;
 font-weight: 700;
 letter-spacing: 1px;
}
            
#f icon {
 font-size: 8px;
 color: #fff;
 padding: 3px;
}
            
#f p {
 font-size: 20px;
 color: #f2f2f2;        
}
            
#f img {
 tex-align: center; 
}

img
/* empêche les images de prendre trop de place */

{
    max-width: 100%;
    height: auto;
}

#header_page {
    width:95%;
    height: 100px;
    margin:auto;
    margin-top: -15px;
    background-image: url(image/header.png);
    border : 1px solid black;
    border-radius: 10px;
}
section {
  
    margin-top: 5px;
    width: 100%;
    background-color: #E6E6FA;
}


#global {
    width: 100%;
}

#global div {
    float: left;
    height: 450px;
    overflow: hidden;
    width: 28%;
    margin-left: 5px;
    text-align: justify;
    margin-right: 30px;
    font-size: 15px;


}


}
#text {
    text-align: justify;
    width: 120px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
#nav1 {
    margin-left: 10px;
    border-bottom: #ECECEC solid 0.5px;
    border-left: #ECECEC solid 0.5px;
    padding: inherit;
    color: #1C73D3;
    float: left;
}

h1 {
    font-size: 25px;
    color: #1C73D3;
    font-weight: 500;
    height: 65px;
}
footer {
    background-color: #202020;
    height: auto;
    border: #000000 outset 1px;
    width: 100%;
    overflow: hidden;
    margin: auto;
    -moz-box-shadow: inset 0 0 1em #E1E1E1;
-webkit-box-shadow: inset 0 0 1em #E1E1E1;
        box-shadow: inset 0 0 1em #E1E1E1;
    padding: 20px;
    font-size: 10px;
}

.container-text {
    padding: 30px;
    border-bottom: #ECECEC solid 0.5px;
    border-top: #ECECEC solid 0.5px;
    font-size: 15px;
    color: #384452;;
    width: 100%;
}
.container-text-cadre {
    padding: 40px;
    color: #848484;
    background-image: url(image/fond-bleu-site.jpg);
    height: auto;
    margin: auto;
}
.imgFoot {
    width: 75px;
    height: 75px;
    float: left;
    margin: 10px 10px 10px;
}

}
.mentions {
    width: 500px;
    height: 100px;
    float: right;
    color: #808080;
    padding-right: 15px;
    padding-top: 5px;
    text-align: right;
    font-size: 5px;
}

.societe {
    margin-top: 10px;
    margin-left: 12.5px;
    height: 500px;
    width: 760px;
    /* largeur du bloc */
    color: black;
    text-align: justify;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    border: 1px solid black;
    font-size: 20px;
    ;
}

.apsaroke {
    font: bold 15px Mistral, Arial, Helvetica, sans-serif;
    color: #1C73D3;
}
.apsarokeG {
    font: bold 25px Mistral, Arial, Helvetica, sans-serif;
    color: #1C73D3;
}
.textFoot {
    color: #1C73D3;
}
.imgSociete {
    width: 75%;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #555;
}
.container-center {
    background-color: white;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.img-language {
    width: auto;
    height: 80px;
    margin: auto;
    display: inline;
}

.work {
    width: 375px;
    height: 250px;
    margin: auto;
    display: inline;
    float: right;
}
.title-work {
    display: inline;
}
section.row {
    margin: auto;
}
	.carousel-page
	{
	width:100%;
	height:400px;
	background-color:#5f666d;
	color:white;
	}
.text_head
{
padding-top: 2.5em;
padding-left: 30px;
top: 0px;
    font-size: 138%;
        font-family: "Lucida Sans","Lucida Grande","Lucida Sans Unicode","Luxi Sans",Arial,Helvetica,sans-serif;
    color: #F5B714;
    font-weight: bold;
    margin-top: -20px;
}

.carousel-page {
    width: 100%;
    height: 418px;
    background-color: #5f666d;
    color: white;
}
.social
{
    display: inline;
}






