/* structure */
html{
    background-image: url("image/fondvibe.png");
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}
body {
    width: 80%;
    /* Pour fixer la largeur de la page */
    height: auto;
    margin:  auto;
    /* Pour centrer la page */
    background-color: #E6E6FA;
    font-family: "HelveticaNeue", "Helvetica Neue", Lato, sans-serif;
    box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.7); 

}
footer {
    background-image: url("image/footer.png");
    background-size: cover;
    height: 140ghpx;
}
.container
{
    width: 100%;
    background-color:#E6E6FA;
    overflow: hidden;
    margin: auto;
    height: auto;
}  
.container-text {
    padding: 15px;
    border-bottom: #ECECEC solid 0.5px;
    border-top: #ECECEC solid 0.5px;
    font-size: 15px;
    color: #384452;;
    width: 100%;
    padding: 20px; 
    font-size: 17px; 
    text-align: justify;">
}
.container-text-cadre {
    padding-top: 30px;
    color: #848484;
    background-color:  #E6E6FA;
    height: 500px;
    margin: auto;
    width:97%;
    margin-top: 20px;
    margin-bottom: 40px;
      border: 1px solid black;
    border-radius: 10px;
}

.row {
    overflow: hidden;
} 
/* header */
#header_page {
    width: 100%;
    height: 150px;
    margin: 0px;
    margin-top: -20px;
    background-repeat : no-repeat;
     background-image: url("image/logo_apsaroke.jpg");
}
section {
    margin-top: 5px;
    width: 100%;
    background-color: #E6E6FA;
}
section.row {
    margin: auto;
}
.blocDroit
/* menu */
{
    margin-top: 20px;
    float: right;
    width: 250px;
     height: 488px;
    color: black;
    /* couleur noire*/
    margin: 0px;
    
}
/* page societe */
#global {
    width: 100%;
    margin: auto;
}
#global div {
    margin-right: 10px;
    float: left;
    height: 400px;
    overflow: hidden;
    width: 30%;
    text-align: justify;
    font-size: 15px;
}
.container-center {
    background-color: white;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
/* carousel */
.carousel-page {
    width: 100%;
    height: 400px;
    background-color: white;
    color: black;
}
.carousel-control{
    visibility: hidden;
}
.carousel-indicators{
    margin-bottom: -25px;
}
.carousel-indicators li {
    border: 1px solid rgb(0, 0, 0);
}
.carousel-indicators .active 
{
    background-color: #0862CC;
}


/* --------*/
/* police */
h2, h4, H5, H6 {
    font-style: italic; 
    font-weight: bold; 
    font-size: 20px; 
    color: black;
}           
p {
 padding: 0;
 margin-bottom: 12px;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
 line-height: 24px;
 color: #384452;
 margin-top: 10px;
}          
a {
 padding: 0;
 margin: 0;
 text-decoration: none;
 -webkit-transition: background-color .4s linear, color .4s linear;
 -moz-transition: background-color .4s linear, color .4s linear;
 -o-transition: background-color .4s linear, color .4s linear;
 -ms-transition: background-color .4s linear, color .4s linear;
 transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
 text-decoration: none;
 color: rgba(195, 197, 198, 0.87);
}  
#text {
    text-align: justify;
    width: 120px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
h1 {
    font-size: 25px;
    color: #3F759C;
    font-weight: bold;
}
.mentions {
    width: 500px;
    height: 100px;
    float: right;
    color: #808080;
    padding-right: 15px;
    padding-top: 5px;
    text-align: right;
    font-size: 10px;
}
.apsaroke {
    font: bold 20px Mistral, Arial, Helvetica, sans-serif;
    color: #1C73D3;
}
.apsarokeG {
    font: bold 25px Mistral, Arial, Helvetica, sans-serif;
    color: #1C73D3;
}
.textFoot {
    color: #1C73D3;
}
.title-work {
   float: left;
}
ul {
    list-style-type: none;
}

li {
   list-style-type: none;
}

.Apsaroke {
    font: bold 17px Mistral, Arial, Helvetica, sans-serif;
    color: #1c73d3;
}




/* -------*/
/* images */
.imgFoot {
    width: 75px;
    height: 75px;
    float: left;
    margin: 10px 10px 10px;
    position : relative;
}
.societe {
    margin-top: 10px;
    margin-left: 12.5px;
    height: 500px;
    width: 760px;
    /* largeur du bloc */
    color: black;
    text-align: justify;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    border: 1px solid black;
    font-size: 20px;
    }
.imgSociete {
    width: 75%;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #555;
}
.img-language {
    width: auto;
    height: 80px;
    margin: auto;
    display: inline;
}
.work {
    width: 400px;
    height: 275px;
    margin: auto;
    display: inline;
    float: right;
    margin-top: 30px;
}
.img-societe
{
   position: absolute; 
    width: 100%; 
    height: 400px; 
    opacity:0.3;
    padding-bottom: 50px;
}
.imgFoot {
    width: 75px;
    height: 75px;
    float: left;
}
.blocLigne img{
    margin-top: 2px;
    width: 100px; 
    height: 75px;
    border: 1px dotted black;
}



/* ------*/
/* boutons et sociaux */
#myBtn
{
    margin-left: 44%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #1C73D3;
    background-color: transparent;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: bold;
}
.blocLigne{
    display: inline;
}

.social
{
    position: absolute;
    z-index: 2;
}
.btn-viadeo img
{
    width: 25px;
    height: 33px;
    border-radius: 5px;
    margin-left: 126px;
    margin-top: 143px;
    position: absolute;
    border: 1px solid white;   
}
.btn-linkedin {
    color: #FFF;
    background-color: #007BB6;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 6px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-left: 177px;
    margin-top: 48px;
    position: absolute;
    border: 1px solid white;
}
.btn-linkedin:hover {
    color: #FFF;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #005983;
}
.btn-facebook {
    color: #FFF;
    background-color: #3B5998;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    padding-bottom: 5px;
    border-radius: 5px; 
    margin-left: 75px;
    margin-top: 95px;
    position: absolute;
    z-index: 2;
    border: 1px solid white;
}
.btn-facebook:hover{
    color: #FFF;
    background-color: #2D4373;
    border-color: rgba(0, 0, 0, 0.2);

}
.btn-mail img {
    width: 28px;
    height: 31px;
    border-radius: 5px;
    margin-left: 31px;
    margin-top: 190px;
    position: absolute;
    border: 1px solid white;
}
.social a:hover,
.social a:focus,
.social img:hover,
.social img:focus
{
    transform: scale(1.5);
    transform-origin: top center;
    z-index: 5;
    transition: 1s;
}
.map img:hover,
.map img:focus{
    transform: scale(1.5);
    transform-origin: top center;
    z-index: 5;
    transition: 1s;
}
.social_responsive
{
    visibility: hidden;
}


