html{
    background-image: url("image/fond.jpg");
    background-size: 100%;
    width: auto;
    height: 100%;
}
body
{
    width: 80%;/* Pour fixer la largeur de la page */
    height: 100%;
    margin: auto; /* Pour centrer la page */
    background-color: #E6E6FA;
}
.header_page
{
    margin-top: 100px;
    width: 50px;
    height: 100px;
    background-color: #FFFFFF;
    color: white;
}
.img_head
{
    width: auto;
    height: auto;
    margin-top: 50px;
    padding: inherit;

}

.blocDroit /* menu */ 
{ 
    margin-top: 10px;
    margin-left: 5px;
    float: right;
    width: 225px;
    height: 792px;
    background-color: #FFFFFF;
    border-radius: 5px; 
    color: black; /* couleur noire*/ 
    padding-right: 10px;
    padding: 10px;
}
.blocDroit.nav 
{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    width: 100%;
    background-color: white; /* Fond blanc */
    border-radius: 5px; 
    color: black; /* couleur noire*/ 
    padding-right: 10px;
 
}
section
{
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    overflow: auto;
    height: 100%;
    width: auto;
    background-color: #E6E6FA;

}
article /* bloc : présentation du lycée */
{
    margin-left: 10px;
    height: 50%;
    width: 98,5%; /* largeur du bloc */
    color: black;
    text-align: justify; /* texte justifié (aligné à droite et à gauche) */
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
;
}
    #block
    {
            width: 95%;
            height: 109px;
            margin: auto;
            margin-top: 25px;
            background-image: url("../images/structure/header_middle.png");
            background-repeat: repeat-x;
    }
    #block div
    {
            height: 100%;
    }
    #block_left
    {
            width: 10px;
            float: left;
            background-image: url("../images/structure/header_left.png");
            background-repeat: no-repeat;
    }
    #block_middle
    {
            float: right;
            text-align: center;
    }
    #block_right
    {
            width: 10px;
            float: right;
            background-image: url("../images/structure/header_right.png");
            background-repeat: no-repeat;
    }

.nav1
{
    margin-left: 10px;
    border-bottom: #ECECEC solid 0.5px;
    padding: inherit;
}
ul {
    list-style-type: none;
    
}
li
{
    list-style-type: none;
    
}
#navbar {
    background-color: white;
}